@import "tailwindcss";


@theme {
  /* Questa riga dice a Tailwind: 
     "Crea la classe font-allura usando il valore della variabile --font-allura" 
  */
  --font-allura: var(--font-allura);
}
body {
  background-color: white;
}
.grow-height {
  height: 100px; /* Altezza iniziale */
  overflow: hidden;
  transition: height 0.5s ease-in-out; /* La magia avviene qui */
}
.grow-height:hover {
  height: 330px; /* Altezza finale */
}
.firstCareerElement{
  height: 330px;
}

/* Definiamo i fotogrammi dell'animazione */
@keyframes spawn {
  from {
    opacity: 0;
    transform: translateY(30px); /* Parte 20px più in basso */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Arriva alla posizione originale */
  }
}

/* Creiamo la classe da applicare al div */
.animate-spawn {
  animation: spawn 0.5s ease-out forwards;
}